 /*FONT IMPORTS
----------------------------------------------- */
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'Avenir Light';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/AvenirNextLTPro-It.otf);
}

@font-face {
  font-family: 'Avenir Bold';
  font-style: bold;
  font-weight: 400;
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
}

/* MATERIALIZE CSS
----------------------------------------------- */
/* label color */
.input-field label {
 color: #9e9e9e;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #1976d2;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #1976d2;
 box-shadow: 0 1px 0 0 #1976d2;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #1976d2;
 box-shadow: 0 1px 0 0 #1976d2;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #1976d2;
 box-shadow: 0 1px 0 0 #1976d2;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #1976d2;
}

.row {
	font-family: "Roboto", sans-serif;
}

.waves-effect.waves-teal .waves-ripple {
	background-color: #1976d2
}

/* GENERAL STYLES
----------------------------------------------- */
html {
	background: url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?q=80&fm=jpg&s=fa68c48c66a390579ae96eff13922404) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
	margin: 0;
}

/* PAGE STRUCTURE
----------------------------------------------- */
header div {
	position:fixed;
	top:0;
	width:100%;
	z-index:9001;
	background-color: #1976d2;
	height: 64px;
	text-align: center;
	color: white;
	font-family: 'Avenir';
	line-height: 35px
}

.headerSpacer {
	height: 64px;
}

header div img {
	width: 140px;
	margin: 0 auto;
	display: block;
	padding-top: 12px;
}

#scale {
	position: fixed;
	bottom: 45px;
	right: 24px;
	background-color: rgba(10%, 10%, 10%, 0.40);
	z-index: 90000000;
}

.weatherWrapper {
	margin: 0 auto;
	overflow: hidden;
	min-height: 100vh;
}

.wBox {
	background: rgba(10%, 10%, 10%, 0.40);
	float: left;
	color: white;
	/*display: block;*/
}

.boxTitle {
	font-family: 'Avenir';
	width: 90%;
	float: left;
}

.exit {
	width: 10%;
	font-size: 100%;
	text-align: center;
	cursor: pointer;
}

.wTemperature, .wIcon {
	float: left;
	width: 50%;
	text-align: center;
}

div sup {
	font-weight: 200;
}

.wDay {
	text-align: center;
	font-family: 'Avenir Bold'
}

span ul {
	padding-left: 10px;
	padding-right: 10px;
}

span ul li {
	border-top: 1px solid RGBA(255,255,255,0.2);
	font-family: 'Avenir Bold';
	/*line-height: 30px;*/
}

.dayName {
	width: 25%;
}

.forecast {
	width: 75%;
	float: right;
}

.forecast li {
	width: 33%;
	text-align: center;
	float: left;
	/*line-height: 30px;*/
}

#empty {
	text-align: center;
	color: rgba(10%, 10%, 10%, 0.40);
	font-size: 2.8vmin;
	font-family: 'Avenir';	
}

/* WIDE DESKTOP LAYOUT 
----------------------------------------------- */
@media only screen and (min-width: 992px) {
	.weatherWrapper {
		width: 992px;
	}
	.wBox {
		width:480px;
		height: 330px;
		margin:8px;
	}
	.boxTitle, .fa.fa-times-circle-o.exit {
		font-size: 40px;
		padding-top: 4px;
	}
	.boxTitle {
		padding-left: 20px;
		padding-top: 10px;
	}
	.wTemperature, .wIcon {
		font-size: 100px;
	}

} /* CLOSE WIDE LAYOUT */

/* TABLET LAYOUT 
----------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.weatherWrapper {
		width: 768px;
	}
	.wBox {
		width: 368px;
		height: 270px;
		margin:8px;
	}
	.boxTitle, .fa.fa-times-circle-o.exit {
		font-size: 30px;
		padding-top: 4px;
	}
	.boxTitle {
		padding-left: 20px;
		padding-top: 10px;
	}
	.wTemperature, .wIcon {
		font-size: 70px;
	}
} /* CLOSE TABLET LAYOUT */
/* WIDE MOBILE LAYOUT (LANDSCAPE/480PX) 
----------------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.weatherWrapper {
		width: 480px;
	}
	.wBox {
		width: 224px;
		height: 190px;
		margin:8px;
	}
	.boxTitle, .fa.fa-times-circle-o.exit {
		font-size: 20px;
		padding-top: 4px;
	}
	.boxTitle {
		padding-left: 15px;
		padding-top: 10px;
	}
	.wTemperature, .wIcon {
		font-size: 30px;
	}
	.forecast {
		width: 60%
	}
} /* CLOSE WIDE MOBILE LAYOUT

/* MOBILE LAYOUT (PORTRAIT/320PX) 
----------------------------------------------- */
@media only screen and (max-width: 480px) {
	.weatherWrapper {
		width: 100%;
	}
	.wBox {
		width: 45%;
		height: 200px;
		margin: 2.5%;
	}
	.boxTitle, .fa.fa-times-circle-o.exit {
		font-size: 15px;
		padding-top: 4px;
	}
	.boxTitle {
		padding-left: 10px;
		padding-top: 10px;
	}
	.wTemperature, .wIcon {
		font-size: 20px;
	}
	.forecast {
		width: 70%;
		font-size: 12px;
	}
	.forecast li {
		width: 15%;
		margin-left: 8%;
		margin-right: 8%;
	}
	sup span {
		display: none;
	}
} /* CLOSE MOBILE LAYOUT
